.main {
  display: flex;
}

.buttonBuilt{
  /* animation-name: slidein;
  animation-duration: 3s; */
  border-top: 1px solid green;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1000px){
  .buttonBuilt{
    /* animation-name: slidein;
    animation-duration: 3s; */
    border-top: 1px solid greenyellow;
    margin-left: 3%;
  }
}

@media screen and (max-width: 400px) {
  .buttonBuilt{
    /* animation-name: slidein;
    animation-duration: 3s; */
    border-top: 1px solid red;
    margin-left: 0%;
  }

  .main{
    display: flex;
    justify-content: space-around;
  }
}


/* MOVIMIENTO */
/* @keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
   margin-left:0%;
   width:100%;
 }
} */